/* mobile device */

@media only screen and (max-width: 576px) {
  .container {
    width: 100%;
  }

  nav {
    justify-content: center;
  }

  .menu {
    display: none;
  }

  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog {
    flex-direction: column;
    align-items: flex-start;
  }

  .thumbnail img {
    width: 100%;
  }
} ;
